<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadXmlFile</servlet-name>
        <servlet-class>servlets.UploadXmlFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadXmlFile</servlet-name>
        <url-pattern>/UploadXmlFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MachineDetailsServlet</servlet-name>
        <servlet-class>servlets.MachineDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MachineDetailsServlet</servlet-name>
        <url-pattern>/MachineDetailsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>setConfigurationsServlet</servlet-name>
        <servlet-class>servlets.setConfigurationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setConfigurationsServlet</servlet-name>
        <url-pattern>/setConfigurationsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CurrentCodeServlet</servlet-name>
        <servlet-class>servlets.CurrentCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentCodeServlet</servlet-name>
        <url-pattern>/CurrentCodeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDictionaryServlet</servlet-name>
        <servlet-class>servlets.GetDictionaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDictionaryServlet</servlet-name>
        <url-pattern>/GetDictionaryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EncryptServlet</servlet-name>
        <servlet-class>servlets.EncryptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EncryptServlet</servlet-name>
        <url-pattern>/EncryptServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AgentsInfoServlet</servlet-name>
        <servlet-class>servlets.AgentsInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentsInfoServlet</servlet-name>
        <url-pattern>/AgentsInfoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AlliesTeamNamesServlet</servlet-name>
        <servlet-class>servlets.AlliesTeamNamesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlliesTeamNamesServlet</servlet-name>
        <url-pattern>/AlliesTeamNamesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UBoatContestsServlet</servlet-name>
        <servlet-class>servlets.UBoatContestsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UBoatContestsServlet</servlet-name>
        <url-pattern>/UBoatContestsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UBoatContestSettingsServlet</servlet-name>
        <servlet-class>servlets.UBoatContestSettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UBoatContestSettingsServlet</servlet-name>
        <url-pattern>/UBoatContestSettingsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterAlliesToContestServlet</servlet-name>
        <servlet-class>servlets.RegisterAlliesToContestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterAlliesToContestServlet</servlet-name>
        <url-pattern>/RegisterAlliesToContestServlet</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>AlliesLoginServlet</servlet-name>
        <servlet-class>servlets.AlliesLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlliesLoginServlet</servlet-name>
        <url-pattern>/AlliesLoginServlet</url-pattern>
    </servlet-mapping>

   <servlet>
        <servlet-name>AlliesInfoServlet</servlet-name>
        <servlet-class>servlets.AlliesInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlliesInfoServlet</servlet-name>
        <url-pattern>/AlliesInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DMCreateMissionsServlet</servlet-name>
        <servlet-class>servlets.DMCreateMissionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DMCreateMissionsServlet</servlet-name>
        <url-pattern>/DMCreateMissionsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AgentGetMissionsServlet</servlet-name>
        <servlet-class>servlets.AgentGetMissionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentGetMissionsServlet</servlet-name>
        <url-pattern>/AgentGetMissionsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestInfoServlet</servlet-name>
        <servlet-class>servlets.ContestInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestInfoServlet</servlet-name>
        <url-pattern>/ContestInfoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetXmlInputStreamServlet</servlet-name>
        <servlet-class>servlets.GetXmlInputStreamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetXmlInputStreamServlet</servlet-name>
        <url-pattern>/GetXmlInputStreamServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetMachineInfoServlet</servlet-name>
        <servlet-class>servlets.GetMachineInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMachineInfoServlet</servlet-name>
        <url-pattern>/GetMachineInfoServlet</url-pattern>
    </servlet-mapping>

 <servlet>
        <servlet-name>BruteForceResultsServlet</servlet-name>
        <servlet-class>servlets.BruteForceResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BruteForceResultsServlet</servlet-name>
        <url-pattern>/BruteForceResultsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UboatGetBruteForceResultServlet</servlet-name>
        <servlet-class>servlets.UboatGetBruteForceResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UboatGetBruteForceResultServlet</servlet-name>
        <url-pattern>/UboatGetBruteForceResultServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AlliesGetBruteForceResultServlet</servlet-name>
        <servlet-class>servlets.AlliesGetBruteForceResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlliesGetBruteForceResultServlet</servlet-name>
        <url-pattern>/AlliesGetBruteForceResultServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AgentMissionsStatusServlet</servlet-name>
        <servlet-class>servlets.AgentMissionsStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentMissionsStatusServlet</servlet-name>
        <url-pattern>/AgentMissionsStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContestStatusServlet</servlet-name>
        <servlet-class>servlets.ContestStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestStatusServlet</servlet-name>
        <url-pattern>/ContestStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DMGetAmountOfCreatedMissionServlet</servlet-name>
        <servlet-class>servlets.DMGetAmountOfCreatedMissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DMGetAmountOfCreatedMissionServlet</servlet-name>
        <url-pattern>/DMGetAmountOfCreatedMissionServlet</url-pattern>
    </servlet-mapping>
   <servlet>
        <servlet-name>ClearContestUboatServlet</servlet-name>
        <servlet-class>servlets.ClearContestUboatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClearContestUboatServlet</servlet-name>
        <url-pattern>/ClearContestUboatServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateContestStatusAgentServlet</servlet-name>
        <servlet-class>servlets.UpdateContestStatusAgentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateContestStatusAgentServlet</servlet-name>
        <url-pattern>/UpdateContestStatusAgentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetMaximumAmountOfMissionsServlet</servlet-name>
        <servlet-class>servlets.GetMaximumAmountOfMissionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMaximumAmountOfMissionsServlet</servlet-name>
        <url-pattern>/GetMaximumAmountOfMissionsServlet</url-pattern>
    </servlet-mapping>
  <servlet>
        <servlet-name>StartNewContestStatusServlet</servlet-name>
        <servlet-class>servlets.StartNewContestStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartNewContestStatusServlet</servlet-name>
        <url-pattern>/StartNewContestStatusServlet</url-pattern>
    </servlet-mapping>


</web-app>