<component name="ArtifactManager">
  <artifact type="exploded-war" name="app">
    <output-path>$PROJECT_DIR$/out/artifacts/app</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Application/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="javaee-facet-classes" facet="Application/web/Web" />
          <element id="module-output" name="EngimaEngine" />
          <element id="module-output" name="DTOObjects" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="google-gson-2" />
        </element>
      </element>
    </root>
  </artifact>
</component>