<component name="ArtifactManager">
  <artifact type="exploded-war" name="app">
    <output-path>$PROJECT_DIR$/out/artifacts/app</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Application/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="javaee-facet-classes" facet="Application/web/Web" />
          <element id="module-output" name="Agent" />
          <element id="module-output" name="Allies" />
          <element id="module-output" name="Application" />
          <element id="module-output" name="clientUtils" />
          <element id="module-output" name="DTOObjects" />
          <element id="module-output" name="UBoat" />
          <element id="module-output" name="JavafxUI" />
          <element id="module-output" name="EnigmaUI" />
          <element id="module-output" name="EngimaEngine" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="google-gson-2" />
          <element id="library" level="project" name="okHttp" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../AnimateFX-1.2.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/3rd/AnimateFX-1.2.0.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>